body {
  margin: 0px;
  border: 5px solid aquamarine;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
}
.content {
  width: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* header */
header {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin: 0px 80px;
}

/* random */
.random {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

.random-poto {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 188, 18);
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-instagram {
  color: white;
  transform: scale(3);
}

.randome-title {
  margin-bottom: 9px;
  font-size: 30px;
  font-weight: 800;
}

.randome-songwriter {
  font-weight: 600;
}

/* interface */
.interface-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interface-form__btn {
  display: flex;
  align-items: center;
  position: relative;
}

.interface-form__btn:first-child input {
  width: 120px;
  height: 50px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 2px;
  background-color: white;
}

.interface-form__btn:first-child i {
  position: absolute;
  left: 25px;
}

.interface-form__btn:first-child p {
  position: absolute;
  left: 40%;
}

.interface-form__btn:nth-child(2) input,
.interface-form__btn:nth-child(3) input {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0px 2px;
  background-color: white;
}

.interface-form__btn:nth-child(2) i,
.interface-form__btn:nth-child(3) i {
  position: absolute;
  right: 35%;
  left: 35%;
}

/* music chart */
.music {
  margin: 30px 0px;
  display: flex;
  align-items: center;
}

.music__photo {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 15px;
}

.chart-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 5px;
}

.matargasti .music__photo {
  background-color: tomato;
}
.attitude .music__photo {
  background-color: rgb(254, 137, 188);
}
.try-everthing .music__photo {
  background-color: blue;
}
.Sunflower .music__photo {
  background-color: aquamarine;
}
