body {
    display: flex;
    background-color: rgb(245, 245, 245);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#title {
    width: 100vh;
    margin-top: 60px;
    margin-bottom: 40px;         
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
#cards-top {
    height: 520px;
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
#cards-bottom {
    height: 520px;
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
#tomato {
    height: 500px;
    width: 300px;
    margin: 10;
    background-color: tomato;
    border: 8px solid white;
    position: relative;
}
#teal {
    height: 500px;
    width: 300px;
    margin: 10;
    background-color: teal;
    border: 8px solid white;
    position: relative;
}
#burlywood {
    height: 500px;
    width: 300px;
    margin: 10;
    background-color: burlywood;
    border: 8px solid white;
    position: relative;
}
#thistle {
    height: 500px;
    width: 300px;
    margin: 10;
    background-color: thistle;
    border: 8px solid white;
    position: relative;
}
.tag {
    height: 180px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 80px;
}
.name {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 5px;
}
.information {
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 5px;
}