body {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100vw;
    height: 100px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.top > :first-child {
    background-color: tomato;
}
.top > :last-child {
    background-color: teal;
}
.bottom {
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.bottom > :first-child {
    background-color: burlywood;
}
.bottom > :last-child {
    background-color: thistle;
}
.card {
    width: 615px;
    margin: 5px;
    border: 5px solid white;
    position: relative;
}
.color {
    width: 100%;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 70px;
}
.colorname {
    font-size: x-large;
    position: absolute;
    top: 30px;
}
.colorcode {
    font-size: large;
    position: absolute;
    top: 70px;
}