.main-book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 50px;
}

.main-book__card {
  display: flex;
}

.main-book h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}

.main-book__photo {
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 20px;
}
.main-book__info {
  display: flex;
  flex-direction: column;
  width: 500px;
}
div.main-book__info * {
  margin-bottom: 8px;
}

.main-book__info .star-rating__star {
  background: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px;
}

.main-book__tags input {
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  padding: 7px 10px;
}

.main-book__buttons {
  display: flex;
  position: relative;
}

.main-book__buttons input:first-child {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: rgb(251, 205, 51);
  margin-right: 35px;
}

.main-book__buttons i {
  position: absolute;
  top: 10px;
  left: 12px;
}

.main-book__buttons input:last-child {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
}
